body {
  background: linear-gradient(0deg, rgb(243, 255, 245), rgb(105, 129, 112));
}

header {
  position: static;
}
#page-logo a {
  color:rgb(243, 255, 245); 
}
nav a {
  color: rgb(243, 255, 245);
}
nav a:hover {
  background-color: rgb(243, 255, 245);
  text-shadow: none;
  color: rgb(0,0,0) ;
}
.current {
  background-color: rgb(243, 255, 245);
  text-shadow: none;
  color: rgb(0,0,0) ;
}

section {
  height: 500px;
}

main ul {
  width: 800px;
  margin: 0 auto;
}
.card {
  display: flex;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  border-radius: 6px;
  overflow: hidden;
}
.card img {
  height: 300px;
  width: 280px;
  object-fit: cover;
}
.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: aliceblue;
}
.item-content h2 {
  margin-bottom: 0;
}
.actions {
  text-align: right;
}
.actions a {
  text-decoration: none;
  color:rgb(69, 87, 75);
  padding: 8px;
  border-radius: 5px;
}
.actions a:hover {
  background-color:rgb(210, 233, 218)
}