#hero {
    height: 600px;
    background-image: url(/img/places/Lake-Superior.jpg);
    background-position: center;
    background-size: cover;
}

#hero-content {
    width: 900px; 
    background-color: rgba(51, 47, 47, 0.7);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 5px;
    text-align: center;
    color:rgb(255, 255, 255);
    padding: 30px 0;
    margin: 0 auto;
}